<div class="container-fluid" class="aptCard">
    <div class="row">
        <div class="col" style="border: 1px solid black;">
            <div id="address">
                <h2>{{apartment.address1}}</h2>
            </div>
            <div id="card" class="aptDetails">
                <div id="details">
                    <ul class="apt">
                        <li>{{apartment.beds}} beds / {{apartment.baths}} baths</li>
                        <li>Rent {{apartment.rent}}</li>
                        <li>Lease length years</li>
                        <li>Notes {{apartment.notes}}</li>
                    </ul>
                    <p class="addedBy">{{apartment.author}}</p>
                    <button id="dltButton" class="aptbuttons">Delete this listing</button>
                </div>
            </div>
            <div id="comments">

                <div id="prevComments" class="preComments">
                    {{!-- might need a partial here, reference exc. 18 in the MVC Lessons --}}
                    <h3>Some Stuff{{apartment.comments}}</h3>
                    <span></span>
                </div>
                <input id="addComment" class="addComment" placeholder="Add a comment...">
            </div>
        </div>
        <div class="col" style="border: 1px solid black;">
            <div id="map">Map Goes Here
            </div>
        </div>
    </div>
</div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<!-- Geocoder Scipt -->
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<!-- Local Map JS -->
<script src="/js/leaflet.js"></script>