<div id='aptCont' class="container-fluid" class="aptCard">
    <div class ="row">
        <div class="col">
            <div id="address">
                <!-- The button used to copy the text -->
                <h4 id="s_address">{{apartment.address1}} {{apartment.address2}}<br>{{apartment.city}}, {{apartment.state}} {{apartment.zip}}</h4>
                <button onclick="addCopy()">Copy Address</button>
            </div>
            <div id="card" class="aptDetails">
                <div id="details">
                    <ul class="apt">
                        <li>{{apartment.beds}} bed / {{apartment.baths}} bath</li>
                        <li>Rent: ${{apartment.rent}}</li>
                        <li>Notes: {{apartment.notes}}</li>
                        <li><a href="{{apartment.link}}">Listing</a></li>
                    </ul>
                    <p class="addedBy">{{apartment.firstName}}</p>
                    <button id="dltButton" class="aptbuttons">Delete this listing</button>
                </div>
            </div>
            <div id="comments">

                <div id="prevComments" class="preComments">
                    <h3>Some Stuff{{apartment.comments}}</h3>
                    <span></span>
                </div>
                <input id="addComment" class="addComment" placeholder="Add a comment...">
            </div>
        </div>
        <div class="col">
            <div id="map">Map Goes Here
            </div>
        </div>
    </div>
</div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<!-- Geocoder Scipt -->
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<!-- Local Map JS -->
<script src="/js/leaflet.js"></script>