<div id="container">
    <div id="address">
        <h2>{{apartment.address1}}</h2>
    </div>
    <div id="card">
        <div id="details">
            <ul>
                <li>{{Apartment.beds}} beds / {{Apartment.baths}} baths</li>
                <li>Rent {{Apartment.rent}}</li>
                <li>Lease length{{}}year(s)</li>
                <li>Notes {{Apartment.notes}}</li>
            </ul>
            <p class="addedBy">{{Apartment.author}}</p>
            <button id="dltButton">Delete this listing</button>
        </div>
        <div id="comments">
            <div id="prevComments">
                <h3>{{Apartment.comments}}</h3>
                <span></span>
                <p></p>
            </div>
            <input id="addComment" placeholder="Add a comment...">
        </div>
        <div id="map">
        </div>

    </div>
</div>