<div id="container" class="aptCard">
    <div id="address">
        <h2>{{apartment.address1}}</h2>
    </div>
    <div id="card" class="aptDetails" class="col">
        <div id="details">
            <ul>
                <li>{{apartment.beds}} bed / {{apartment.baths}} bath</li>
                <li>Rent: ${{apartment.rent}}</li>
                <li>Rating: {{apartment.rating}}/5</li>
                <li>Notes: {{apartment.notes}}</li>
            </ul>
            <p class="addedBy"></p>
            <button id="dltButton">Delete this listing</button>
        </div>
        <div id="comments">
            <div id="prevComments">
                <h3></h3>
                <span></span>
            </div>
            <input id="addComment" placeholder="Add a comment...">
        </div>
        <div id="map">
        </div>
</div>