
<div id='aptCont' class="container">
    <div class ="row w-100">
        <div class="col-6">

            <div id="address">
                <!-- The button used to copy the text -->
                <h4 id="s_address">{{apartment.address1}} {{apartment.address2}}<br>{{apartment.city}}, {{apartment.state}} {{apartment.zip}}</h4>
                <p>Added by: {{apartment.user.firstName}} on {{ format_date apartment.date_added }}</p>
                <button class="copyBtn" onclick="addCopy()">Copy Address</button>
            </div>
            <div id="card" class="aptDetails">
                <div id="details">
                    <ul class="apt">
                        <li>Beds {{apartment.beds}}</li>
                        <li>Baths {{apartment.baths}}</li>
                        <li>Rent: ${{apartment.rent}}</li>
                        <li>Notes: {{apartment.notes}}</li>
                        <li><a href="{{apartment.link}}">Listing</a></li>
                    </ul>
                    <p class="addedBy">{{apartment.firstName}}</p>
                    <p class="addedBy">{{apartment.firstName}}</p>
                    <button id="dltButton" class="aptbuttons">Delete this listing</button>
                </div>
            </div>
            <div id="comments">

                <div id="prevComments" class="preComments">

                    <ul>
                    {{#each apartment.comments}}
                    <li>{{ user.firstName }} says: {{text}}</li>
                    {{/each}}
                    </ul>
                    <span></span>
                </div>
                <form class="add-comment">
                    <div class="form-card">
                        <input class="form-input" type="text" placeholder="Add a comment..." id="map-comment"/>
                         <button id="postButton" class="aptbuttons">Post Comment</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-6">

            <div id="map">Map Goes Here
            </div>
        </div>
    </div>
</div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<!-- Geocoder Scipt -->
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<!-- Local Map JS -->
<script src="/js/leaflet.js"></script>
<script src="/js/comment.js"></script>